---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="min-h-screen flex flex-col justify-center items-center bg-black text-white px-4">
    <h1 class="text-5xl font-bold mb-4 relative">
      <span class="relative inline-block"><span class="absolute -inset-2 bg-gradient-to-r from-orange-400 via-red-400 to-orange-400 blur-xl opacity-20 animate-pulse"></span><span class="relative bg-gradient-to-r from-orange-400 via-red-400 to-orange-400 bg-clip-text text-transparent">SaharaCompute</span></span>
    </h1>
    <p class="text-lg mb-6 max-w-lg text-center">
      Experience the ultimate hosting solution with unbeatable performance.
    </p>
    <a 
      href="https://discord.gg/PN4KDGX2" 
      class="inline-block px-6 py-2  bg-orange-500 rounded-full font-semibold shadow hover:bg-orange-600 transition-colors"
    >
      Join Our Discord
    </a>
  </div>
</Layout>
